### Case study  - Uber Data Analysis

The data of a driverâ€™s uber trips are available for year 2016.
Your manager wants you to explore this data to give him some useful insights about the trip behaviour of a Uber driver.

#### Dataset - 
The dataset contains Start Date, End Date, Start Location, End Location, Miles Driven and Purpose of drive (Business, Personal, Meals, Errands, Meetings, Customer Support etc.)

#### Steps - 

1.Import the libraries

2.Get the data and observe it

3.Check missing values, either remove it or fill it.

4.Get summary of data using python function.

5.Explore the data parameter wise

Here we have information of destination(start and stop), time(start and stop), category and purpose of trip, miles covered.

In [ ]:
# ----------------------
# Concepts To cover 
# ----------------------
# 1. Data profiling
# 2. group by function
# 3. Apply function 
# 4. DateTime operations

In [ ]:
# Import the libraries 
import numpy as np
import pandas as pd

In [ ]:
# Read the Data 

df = pd.read_csv('uberdrive.csv')

In [ ]:
 # View first n rows of data

In [ ]:
#View the last 5 rows of data

In [ ]:
# understand shape and size of data

In [ ]:
# Same as above, gives non-null number of records

1. PURPOSE column has lots of missing values  
2. 1155 or 1156 records ??

Show the records with missing values for column= PURPOSE

How many records are non-null  / have values ( in a particular column )

### Renaming columns

In [ ]:
# Rename the columns to remove the * from the names




#or 
# Replace the * character from all the  columns .


# You can also rename the specific column names

### Filtering dataframes -1

In [ ]:
# shows the entries where PURPOSE is null

# inverting the selection ( not null ) ( works for booleans cases)

### Filtering dataframe - 2

In [ ]:
#1. Conditions within dataframe 

#2. SQL-like query

# inverting the selection

Explore the details from the MILES column

In [ ]:
# Show the top 10 rides (*in terms of distance driven)


# Show the row that has the max miles 



# Shows the top 10 rows of MILES ( decreasing value )

Remove the last row which has some anomalous number in MILES

In [ ]:

# Or use other filters to remove this row

In [ ]:
#Get a summary of the numerical columns in the data

The miles driven ranges from 0.5 miles to 12204 miles with an average of 21 miles

Max miles - looks suspect

#### Dropping rows  which have null values

In [ ]:
# Get the initial data with dropping the NA values

#Get the shape of the dataframe after removing the null values

The filtered dataset with no nulls ( in PURPOSE column )  contains 653 rows of non-null values

### PANDAS PROFILING
Use some packages that will auto profile your data ( than having to manually type in all the commands )

You can find the documentation here ( https://pandas-profiling.github.io/pandas-profiling/docs/ )

Github page here - https://github.com/pandas-profiling/pandas-profiling

In [ ]:
import pandas_profiling 

#pandas_profiling.ProfileReport(df)  # Of you just want to show here 

# output into an html file

### Lets explore the data parameter wise - 

1.Destination - (starting and stopping)

2.Time - (hour of the day, day of week, month of year)

3.Categories

4.Purpose 

5.Grouping two parameters to get more insights

## 1. Understanding  the start and stop points

In [ ]:
# Get the unique starting point, unique destination
# names of unique start points

In [ ]:
#count of unique start points using  len()

In [ ]:
 # or use can use the nunique function

In [ ]:
# Get the starting destination, unique destination
#names of unique start points

In [ ]:
#count of unique start points

Stations which are appeared in both start and stop locations

In [ ]:
#Identify popular start points - top 10

In [ ]:
#Identify popular stop destinations - top 10

In [ ]:
# Are there cases where the start and the stop location are the same  ?

In [ ]:
# Favorite starting point wrt the total miles covered

#### Find out most farthest start and stop pair - top10 ( aggregation ) ( BY TOTAL miles COVERED EVER ! )

In [ ]:
#Doing a quick plot

In [ ]:
#Dropping Unknown Location Value  - Save into anothe dataframe ( you dont want to overwrite the original df)

The most popular start and stop pair - ( BY COUNT of travels! )

**The most popular start to destination pair is Morrisville-Cary**

## 2. Manipulating date & time objects

We will be using the datetime module (  https://docs.python.org/3/library/datetime.html  )

Search for "strftime() and strptime() Format Codes" in the documentation page

In [ ]:
# Create columns by converting the start and end date into a datatime format

In [ ]:
#Create more columns by using the inbuilt functionalities of datatime module

In [ ]:
# You can convert the numeric encoding of weekdays into short form by manually writing the mapping 
# days = {0:'Mon',1:'Tue',2:'Wed',3:'Thur',4:'Fri',5:'Sat',6:'Sun'}
# df['day_of_week'] = df['day_of_week'].apply(lambda x: days[x])

In [ ]:
# Which month did he get most drives  ?

In [ ]:
# Getting the average distance covered each month

In [ ]:
#Which day did he get most drives  ?

Now lets try to answer some questions from this data.

Question1: How many miles was earned per category and purpose ?

Question2: What is percentage of business miles vs personal?

Question3: How much time was spend for drives per category and purpose?

In [ ]:
#Question1: How many miles was earned per category and purpose ?

In [ ]:
#Question1: How many miles was earned per category and purpose ?

In [ ]:
#Question2: What is percentage of business miles vs personal?

In [ ]:
#Question3: How much time was spend for drives per category and purpose?

In [ ]:
#Question3: How much time was spend for drives per category and purpose?